HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

.DS_Store
node_modules
/dist

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/main/java/databaseConnection/JdbcTest.java
src/main/java/databaseConnection/Raum.java
src/main/java/databaseConnection/RaumException.java
src/main/java/databaseConnection/DbCred.java
src/main/java/com/webtech/databaseConnection/DbCred.java
src/main/java/com/webtech/databaseConnection/DbConnection.java
src/main/java/com/webtech/databaseConnection/DataException.java
